@font-face {
    font-family: 'consolium';
    src: url(./sys6/branding/fonts/consoli.ttf);
}

* {
    font-family: 'consolium' !important;
}

body {
    background-color: black;
    color: white;
    overflow: hidden;
}
.terminal {
    height: calc(100vh - 10px)
}